.todo-list-item {
    font-size: 1.25rem;
    padding: 3px;
  }
  
  .todo-list-item button {
    margin: 3px;
    justify-content: center;
    align-items: center;
    float: right;
  }
  
  .todo-list-item-label {
    cursor: pointer;
    user-select: none;
  }
  
  .todo-list-item.done .todo-list-item-label {
    text-decoration: line-through;
  }
  
  .todo-list-item.important .todo-list-item-label {
    font-weight: bold;
    color: steelblue;
  }

  .btn-important {
    background: green;
  }
  